@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.text {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0px;
  text-align: center;
  .text-div {
    width: 50%;

    p {
      color: gray;
      font-size: 13px;
      font-weight: 700;
    }

    h3 {
      color: #404044;
      font-size: 40px;
      font-weight: 900;
    }
    span {
      font-size: 16px;
    }
  }
}
.button {
  .button-style1 {
    background-color: black;
    border: 2px solid black;
    margin: 0px 10px;
    &:hover{
        background-color: white;
    }
    .link {
      text-decoration: none;
      color: white;
      font-size: 14px;
      font-weight: 700;
      &:hover{
        color: black;
    }
    }
  }
  .button-style2 {
    border: 2px solid black;
    margin: 0px 10px;
    &:hover{
        background-color: black;
    }
    .link {
      text-decoration: none;
      color: black;
      font-size: 14px;
      font-weight: 700;
      &:hover{
        color: white;
    }
    }
  }

}
